:root {
  --background: #cccccd;
  --foreground: #1f2937;
  --primary: #613575;
  --primary-foreground: #ffffff;
  --secondary: #e0e7ff;
  --secondary-foreground: #3e2c4c;
  --card: #ffffff;
  --card-foreground: #374151;
  --popover: #ffffff;
  --popover-foreground: #111827;
  --tooltip: #111827;
  --tooltip-foreground: #f9fafb;
  --muted: #d1d5db;
  --muted-foreground: #6b7280;
  --accent: #10b981;
  --accent-foreground: #ffffff;
  --info: #48255e;
  --info-foreground: #ffffff;
  --success: #22c55e;
  --success-foreground: #ffffff;
  --warning: #f59e0b;
  --warning-foreground: #ffffff;
  --error: #ef4444;
  --error-foreground: #ffffff;
  --destructive: #b91c1c;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #f3f4f6;
  --ring: #c7d2fe;
  --radius: 12px;

  --qbusiness-webexperience-title-color: #3d1c42;
  --qbusiness-webexperience-font-typeface: 'Poppins', sans-serif;
  --qbusiness-webexperience-chat-user-background-color: #e0f2f1;
  --qbusiness-webexperience-chat-user-text-color: #004d40;
  --qbusiness-webexperience-chat-agent-background-color: #ffffff;
  --qbusiness-webexperience-chat-agent-text-color: #1f2937;
  --qbusiness-webexperience-chat-logo-visibility: visible;
}